<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todos</title>
    </head>
    <body>
        <p>
            the data entered by you is : {{data}}
        </p>
    </body>
</html>